body {
	font: 14px Verdana, Arial, Helvetica, sans-serif;
	background: #F5F5F5;
}

p {
	margin-bottom: 1em;
}

h1 {
	font-family: Tahoma;
	font-weight: bold;
	font-size: 120%;
	padding: 1em;
}

.box {
	width: 700px;
	margin: 100px auto 0;
	text-align: center;
	padding: 20px;
	border: 1px solid #CCCCCC;
	background: white;
}

div#main {
	padding: 0 0 1px;
}

img.mail {
	position: relative;
	top: 5px;
	padding: 0 2px;
}

#main form {
	margin: 15px;
}

.errors-list {
	padding: 0 0.7em;
	text-align: left;
}

.errors-list .ui-icon {
	float: left;
	margin: 0.1em 0.3em 0.3em;
}

.errors-list li {
	padding-left: 7px;
}

#main #function {
	background: #F9f9f9 repeat scroll 0%;
	border: 1px solid #999999;
	font-size: 1em;
	padding: 8px;
	width: 318px;
}

#main .options {
	padding-top: 8px;
}

#main .option {
	margin: 2px 10px;
	display: inline-block;
}

#main .option input {
	text-align: right;
}

#results {
	background: none repeat scroll 0 0 #FFFFFF;
	border-collapse: collapse;
	font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	width: 90%;
}

#results tr {
	border-bottom: 1px solid #E6E6E6;
}

#results tr > th:first-child, td:first-child {
	text-align: left;
}

#results th {
	border-bottom: 2px solid #CCCCCC;
	font-size: 18px;
	font-weight: normal;
	padding: 10px 8px;
}

#results td {
	padding: 5px 8px 0;
}

#results .method-name {
	font-weight: bold;
}

#results .method-result {
	font-size: 20px;
}

.navigation {
	color: #777;
	margin: 0 auto;
	width: 700px;
	text-align: right;
}

.navigation a {
	color: #777;
	text-decoration: none;
	font-size: 11px;
}

.navigation .nav-active {
	font-size: 11px;
	font-weight: bold;
}

.navigation a: hover {
	text-decoration: underline;
}
