{% extends "base_withback.html" %}

{% block title %}About{% endblock %}

{% block content %}
	<h1>About the project</h1>
	<div class="info">
		<p><span class="numintegr">Numintegr</span> is a simple web-app for performing <a title="Numerical Integration article at Wikipedia.org" href="http://en.wikipedia.org/wiki/Numerical_integration">numerical integration</a> using several basic method:</p>
		<ul>
			{% for method in methods %}
				<li>{{ method.name }}</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
