{% extends "base_withback.html" %}

{% block title %}Help{% endblock %}

{% block content %}
	<h1>Help</h1>
	<div class="info">
		<p>The function you're goind to integrate should be a function of the only x argument and it should be defined everywhere on the interval of integration.</p>
		<p>In the function definition you can use all basic arithmetic operators (+, &minus;, *, /) and some other functions that are listed below:</p>
		<ul>
			{% for function in functions %}
			<li><span class="function-name">{{ function.name }}</span> &ndash; <span class="function-description">{{ function.desc }}</span></li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
