{% extends "base.html" %}

{% load i18n %}

{% block title %}Numerical Integrator{% endblock %}

{% block content %}
	<div class="errors-list ui-widget ui-state-error ui-corner-all" style="display: none"> 
		<p><span class="ui-icon ui-icon-alert"></span> 
			<strong>{% trans "Wrong input:" %}</strong>
			<ul>
			</ul>
		</p>
	</div>

	<form id="inputForm" class="input-form" action="/integrate/" method="get">
		<input id="function" class="function-input" type="text" name="function" value="type function of x here...">
		<input type="submit" value="{% trans "Integrate" %}">

		<br />
		
		<div class="options">
			<div class="option">
				<label for="lowerLimit">{% trans "Lower limit:" %}</label>
				<input id="lowerLimit" type="text" name="lowerLimit" size="5" value="0">
			</div>

			<div class="option">
				<label for="upperLimit">{% trans "Upper limit:" %}</label>
				<input id="upperLimit" type="text" name="upperLimit" size="5" value="1">
			</div>

			<br />

			<div class="option">
				<label for="subintervalsNumber">{% trans "Number of subintervals:" %}</label>
				<input id="subintervalsNumber" type="text" name="subintervalsNumber" size="5" maxlength="5" value="100">
			</div>
		</div>
	</form>

	<script type="text/javascript">
		$(function() {
			$("input:submit").button();

			var functionStub = "{% trans "type function of x here..." %}";
			$("#function").val(functionStub);
			var clearFunctionInput = function() {
				if ($("#function").val() == functionStub) {
					$("#function").val("");
				}
			};
			$("#inputForm").submit(clearFunctionInput);
			$("#function").focus(clearFunctionInput);

			$(".option").focus(function() { this.select(); });
		});
		$(document).ready(function() {
			$("#inputForm").submit(function() {
				var errors = new Array();

				var inputs = $("#inputForm :input");
				for (var i = 0; i < inputs.length; ++i) {
					if (inputs[i].value.length == 0) {
						errors.push('{% trans "all fields should be filled" %}');
						break;
					}
				}

				var lowerLimit = $("#lowerLimit");
				var upperLimit = $("#upperLimit");
				var subintervalsNumber = $("#subintervalsNumber");

				var lowerLimitValue = parseFloat(lowerLimit.val());
				var upperLimitValue = parseFloat(upperLimit.val());

				if (lowerLimitValue != lowerLimit.val() || upperLimitValue != upperLimit.val()) {
					errors.push('{% trans "integration limits should be float numbers" %}');
				}

				var subintervalsNumberValue = parseInt(subintervalsNumber.val());

				if (subintervalsNumberValue != subintervalsNumber.val() || subintervalsNumberValue <= 0) {
					errors.push('{% trans "number of subintervals should be positive integer" %}');
				}

				if (errors.length > 0) {
					var errorList = $(".errors-list ul");
					errorList.children().remove();
					for (var i = 0; i < errors.length; ++i) {
						if (errors[i]) {
							errorList.append("<li>" + errors[i] + "</li>");
						}
					}
					$(".errors-list").fadeIn();
					return false;
				}

				return true;
			});
		});
	</script>
{% endblock %}
